mat-card {
  width: 50%;
  margin: 0 auto;
  border: 2px solid chartreuse;
  text-align: center;
  background-color:chartreuse;
  margin-top: 5%;
}

 button {
  margin: 10px;
}

 .btn:hover {
   background-color: green;
}
