.seat {
  height: 75px;
  width: 75px;
  background-color: green;
  border-radius: 50%;
}

.hall{
  background-color: #003399;
  border-radius: 10px;
  margin: auto;
  margin-top: 35px;
}
p, h2{
  text-align: center;
}

.seat:hover{
  background-color: #0099ff;
  cursor: pointer;
}

.mat-form-field {
  margin-left: 25px
}

.mat-dialog-actions {
  margin-left: 10px;
}

.active {
  background-color: red;
}

.reserved {
  background-color: yellow
}
