
<div class="must">
  <div class="main-container">
     <div class="form-header">
       <h2>Login</h2>
     </div>
     <mat-card class="card">
          <form class="login-form" [formGroup]="userFormLogin" (ngSubmit)="onSubmit()" *ngIf="!isloaded; else templateRefLoader">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="userEmail">
            </mat-form-field>
            <mat-error *ngIf="errorMsg">
              <p class="error-msg">{{ errorMsg }}</p>
            </mat-error>
            <br/>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="userPassword">
            </mat-form-field>
            <br/>
            <button [disabled]="userFormLogin.invalid">Login</button>
          </form>
       <ng-template #templateRefLoader>
         <mat-spinner [diameter]="80" class="spinner"></mat-spinner>
       </ng-template>
     </mat-card>
     <div class="form-footer">
       <a>Forget Password ?</a>
       <a routerLink="/register">Registration</a>
     </div>
   </div>
</div>
