mat-card {
  width:12%;
  margin: 10px;
  padding: 25px;
}

img {
  height: 250px;
  border-radius: 4px;
}

.card-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  letter-spacing: 15px;
}
h2 {
  text-align: center;
}





